In [39]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('auto.csv')

In [4]:
df.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,17.0

In [5]:
df.describe()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531,23.445918
std,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518,7.805007
min,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,9.000000
25%,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000,17.000000
50%,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000,22.750000
75%,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000,29.000000
max,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,46.600000

In [58]:
X = df[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin']]
y = df['mpg']

le = LabelEncoder()
for i in X.columns:
    X[i] = le.fit_transform(X[i])

y = le.fit_transform(y)

<ipython-input-58-baa9597ed1c3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[i] = le.fit_transform(X[i])

In [59]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,4,68,60,242,13,0,0
1,4,71,78,260,11,0,0
2,4,69,72,236,6,0,0
3,4,66,72,235,13,0,0
4,4,65,67,239,5,0,0
...,...,...,...,...,...,...,...
387,1,40,32,158,43,12,0
388,1,17,3,53,93,12,1
389,1,39,30,88,12,12,0
390,1,33,25,134,71,12,0
391,1,32,28,150,76,12,0

In [60]:
y

array([ 17,   7,  17,   9,  13,   7,   5,   5,   5,   7,   7,   5,   7,
         5,  48,  38,  17,  34,  62,  57,  52,  48,  52,  57,  34,   1,
         1,   2,   0,  62,  67,  52,  22,   9,  13,  22,  17,   5,   5,
         5,   5,   3,   4,   4,  17,  38,  22,  17,  42,  67,  75,  75,
        79, 104,  62,  57,  48,  52,  42,  28,  34,   4,   5,   7,   5,
        13,   2,   4,   3,   4,  22,   7,   4,   4,   5,  17,  38,  34,
        57,  38,  67,  42,  67,  62,   4,   5,   4,   5,   7,   3,   4,
         4,   5,   4,   3,   4,  17,   9,  17,  17,  42,  57,   2,   3,
         4,   3,  17,  28,  34,  38,  17,  22,  34,  57,   7,   9,  71,
        48,  28,  22,   7,  48,  28,   2,  28,  22,   7,  79,  57,  85,
        52,   9,   9,  17,   9,   4,   5,   5,   5,  71,  57,  57,  79,
        85,  67,  48,  57,  48,  57,  79,  22,  17,   7,   7,   9,   7,
         9,   5,  13,   9,   7,  17,  34,  28,   4,  71,  42,  28,  42,
        48,  52,  48,  17,  71,  22,  42,  42,  38,  52,  93,  67,  52,
        52,  57,  62,  14,   9,   8,   6,  38,  38,  48,  41,  71,  51,
        71,  93,  28,  17,  20,  14,  72,  85,  67,  59,  28,   4,  22,
        22,  11,  11,   4,   4,   4,  81,  75, 107,  55,  94,  14,  13,
         8,   7,  14,  31,  22,  20,   9,   8,   8,   9,  71,  51,  57,
        55,  76,  94,  75,  76,  38,  36,  36, 121, 108,  91, 118, 108,
        27,  25,  29,  24,  31,  29,  53,  31,  25,  32,  33,  21,  18,
        24,  16,  18,  14,  75,  65,  63,  78,  35,  43,  46,  47,  30,
        13,  37,  10,  81,  72,  36,  26,  39,  29,  32,  13,  15,  11,
        19,  12,   8,  24,  20,  84,  98, 106,  64,  54,  42,  63,  47,
        99, 102,  83, 112,  69,  70,  61,  94, 120, 115,  86, 111,  67,
        58,  50,  23, 100,  73,  80, 110,  87, 126,  66, 119, 124, 122,
       109,  75, 125,  96,  73,  90,  45, 104,  89,  63,  60,  56,  44,
        75, 117, 116, 105,  88, 110, 113,  98, 103, 101,  74,  93,  95,
        89,  92,  82,  68,  77,  54,  49,  40,  60,  29,  15,  67,  62,
        97,  79,  71,  62,  48, 107, 110,  79, 114, 107, 107, 107,  97,
       114,  85, 114,  52, 114,  57,  38,  85, 107,  62,  62, 123,  85,
        67,  79])

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [62]:
clasificador = DecisionTreeClassifier()
clasificador.fit(X_train,y_train)

DecisionTreeClassifier()

In [63]:
y_prob = clasificador.predict(X_test)

In [64]:
accuracy_score(y_prob, y_test)

0.12658227848101267